@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: #1a0b2e;
  border-bottom: 1px solid #ffffff2d;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-style {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  color: #ffffff;
  margin: 36px;
}
.btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-image: linear-gradient(
    90deg,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* create a banner-section */

.bannar-section {
  background-image: url(./images/hero-bg.png);
  background-position: center;
  background-size: cover;
  padding: 100px;
}
.banner-contant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.microphone-section {
  background-image: url(./images/hero-circle.png);
  background-size: cover;
  background-position: center;
  padding: 70px 100px;
  position: relative;
}
.position p {
  position: absolute;
  background-color: #00ff88;
  height: 27px;
  width: 63px;
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  right: 15px;
  top: 22px;
}
.microphone-section img {
  max-width: 100%;
}
.banner-contant h1 {
  color: #ffffff;
  font-size: 60px;
}
.bannar-section p {
  padding-bottom: 20px;
}

.banner-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-1 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-image: linear-gradient(
    90deg,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.btn-2 {
  color: #00ff88;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  border: 1px solid #00ff88;
  border-radius: 50px;
  cursor: pointer;
}

/* About Section */
.about {
  background-color: #1a0b2e;
  padding: 100px 0;
}

.about-section h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.about-section p {
  color: #ffffffbd;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.about-section hr {
  color: #ffffff1c;
  margin: 30px 0;
}

.about-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.about-card h2 {
  color: #00ff88;
}

/* Why Choose Section */

.bg-color {
  background-color: #230e3d;
  padding-bottom: 120px;
}

.bg-color .container h2 {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-top: 120px;
  padding-bottom: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 3fr);
  gap: 20px;
}
.card-1 {
  grid-column: span 1;
  grid-row: span 2;
}
.card-2 {
  grid-column: span 2;
  grid-row: span 1;
}
.card-3 {
  grid-row: span 1;
  grid-column: span 2;
}
.grid-container .card-1 h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}
.grid-container .card-1 p {
  color: #ffffff56;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
.grid-container .card-2 h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}
.grid-container .card-2 p {
  color: #ffffff56;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
.grid-container .card-3 h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}
.grid-container .card-3 p {
  color: #ffffff56;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
.grid-container .card-4 h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}
.grid-container .card-4 p {
  color: #ffffff56;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

/* Featured Episodes Section */

.bg-colors {
  background-color: #1a0b2e;
}

.bg-colors .container h2 {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-top: 120px;
}
.featuerd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 20px;
}
.iframe-bg {
  background-color: #250d44;
  border-radius: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.iframe-bg h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
}
.iframe-bg p {
  color: #ffffff56;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}
.iframe-bg h4 {
  color: #00ff88;
  padding: 10px;
  font-size: 16px;
  font-weight: 500px;
}
.meet-host {
  background-color: #1a0b2e;
  padding: 20px 0;
  padding-bottom: 80px;
}

.meet-host h2 {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-top: 120px;
  padding-bottom: 20px;
}
.host-card {
  background-color: #351165;
  border-radius: 20px;
  padding: 50px 0;
}
.meet-title {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
}
.img-p {
  width: 50%;
}
.meet-title h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  padding-top: 10px;
}
.meet-title p {
  color: #ffffff56;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
}
.meet-card {
  display: flex;
  gap: 20px;
}
.meet-card i {
  background: linear-gradient(#f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  color: transparent;
  font-size: 20px;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  padding-top: 10px;
  border: 1px solid white;
}

/* create a footer section */
.footer {
  background-image: url(./images/footer-bg.png);
  background-position: center;
  background-size: cover;
  padding: 100px;
}
.fotter-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.fotter-img img {
  max-width: 100%;
  height: auto;
}
.social-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}
.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 0.432);
}
.social-item img {
  width: 24px;
  height: auto;
}
.social-item p {
  margin: 0;
  font-size: 18px;
}
.copy-right {
  color: #fafafa59;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 60px;
}

/* make a responsive website for small device */

@media screen and (max-width: 576px) {
  .hamburger-icon {
    display: none;
  }

  header {
    width: 100%;
    background-color: #1a0b2e;
  }
  .container {
    max-width: 95%;
    padding: 0 20px;
    margin: 0 auto;
  }
  .nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  .list-style,
  .btn {
    display: none;
  }
  .hamburger-icon {
    display: block;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  /* bannar section responsive */

  .bannar-section {
    padding: 50px 0px;
  }
  .banner-contant {
    width: 100%;
    padding: 0 15px;
  }
  .banner-contant h1 {
    font-size: 30px;
  }

  .btn-1 {
    padding: 12px 20px;
    font-size: 16px;
  }
  .btn-2 {
    padding: 12px 20px;
    font-size: 16px;
  }

  .about-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .bg-color .container h2 {
    font-size: 38px;
  }

  .featuerd {
    grid-template-columns: repeat(1, 1fr);
  }

  .iframe-bg iframe {
    width: 100%;
  }
  .meet-title {
    flex-direction: column;
  }
  .meet-contant {
    text-align: center;
  }
  .meet-card {
    justify-content: center;
  }
  .social-container {
    flex-wrap: wrap;
  }
}

/* make a responsive website for medium device */
@media screen and (max-width: 992px) {
}
